.addBtnService {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.serviceFormTitle {
  text-align: center;
  font-size: 20px !important;
  font-weight: 500 !important;
  margin-bottom: 30px !important;
}

.serviceFormBtn {
  margin-top: 30px !important;
  height: 50px !important;
  background: #1f4172 !important;
}
