.profileDiv {
  width: 300px !important;
  height: 80px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fdf0f0;
  padding: 10px 0 10px 20px !important;
  border-radius: 20px !important;
  margin-top: 50px !important;
  cursor: pointer;

  .accountName {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 53px;
    font-weight: 500;
  }
}
