.homeSection {
  min-height: 100vh;
  width: 900px !important;
  padding: 50px 35px !important;

  .header {
    font-size: 25px !important;
    font-weight: 700 !important;
  }

  .pagination {
    display: flex !important;
    flex-flow: row nowrap !important;
    justify-content: center !important;
    margin-top: 30px !important;
    padding-bottom: 30px !important;
  }
}

.postDetailSection {
  width: 900px !important;

  .serviceItemDiv {
    margin-top: 50px !important;
    border: 1px solid #ccc;
    padding: 30px 20px !important;

    .scheduleDivItem__detail {
      background: #fffaee !important;
    }

    .addToCartDiv {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .authorName {
    cursor: pointer !important;
    transition: 0.25s ease-in-out !important;

    &:hover {
      color: #38b4fc !important;
    }
  }
}
