.deleteDiv {
  width: 400px !important;
  height: 150px !important;

  .header {
    text-align: center !important;
    padding: 20px 0 5px 0 !important;
    font-size: 18px !important;
    font-weight: 500 !important;
  }

  .pag {
    text-align: center !important;
    font-size: 15px !important;
    color: #9b9b9b !important;
  }
}
