.productDiv {
  max-height: 400px !important;
  border: 1px solid #ccc !important;
  padding: 15px 20px !important;
  border-radius: 10px !important;

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 200px !important;
      height: 200px !important;
    }
  }

  &__txt {
    margin: 15px 0 15px 0 !important;

    .name {
      font-size: 20px !important;
      font-weight: 700 !important;
    }

    .des {
      font-size: 14px !important;
    }

    .cate {
      font-size: 14px !important;
      color: #1f4172;
      font-weight: 500 !important;
    }

    .price {
      margin-top: 15px !important;
      font-size: 20px !important;
      color: #ff6969;
      font-weight: 500;
    }
  }
}
